@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$font: Roboto, Arial, Helvetica, sans-serif;
$title: Caveat, Roboto, Arial, Helvetica, sans-serif;

$bg: #1a1717;

$media-1: 1400px;
$media-2: 1200px;
$media-3: 960px;
$media-4: 760px;
$media-5: 480px;
$media-6: 320px;
