.photos {
    background-color: $bg;
    &--container {
        padding: 0 0 60px;
    }

    &--body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    &--img {
        img {
            width: 100%;
        }
    }
}
